body {
    background-color: coral;
  }
  
  .jumbotron h1{
      color: brown;
  
  }
  
  .jumbotron{
      padding-top: 5%;
      background-color:transparent !important;
  }
  
  img {
  margin-top: 10%;
    width: 20%;
  }
  
  .submitFont{
      color: rgb(19, 0, 128);
  }